* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1214px;
  
  margin: 0 auto;
}
.page-1 {
  position: relative;
  width: 100%;
   height: 1114px;
  background-color:   #0E4253;
}
.head {
  
  display: flex;
  padding: 25px 30px 0;
  align-items: baseline;
}

.head ul {
  display: flex;
  margin-left: 206px;
  margin-right: 206px;
}
li {
  list-style-type: none;
}
.head-lists {
  margin-right: 50px;
  color: white;
}
a {
  text-decoration: none;
}
.head button {
 background-color:  #145E76;
 padding: 14px 35px;
 border-radius: 25px;
 color: white;
}
.page-1-left {
  position: absolute;
  top: 263px;
  left: 30px;
  width: 537px;
  height: 544px;

}
.nav-bnt1{
  padding: 16px 30px;
  background-color: #094556;
  color: white;
  border-radius: 25px;
  margin-bottom: 40px;
}
.page-1-left h1 {
  
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;
/* or 125% */
margin-bottom: 30px;

color: #FFFFFF;

}
.page-1-left p {
  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* or 160% */
margin-bottom: 50px;

color: #849499;

}
.span {
  display: flex;
  gap: 50px;
  align-items: baseline;
}
.span button {
  padding: 12px 30px;
  color: white;
  background: #FFA63A;
border-radius: 25px;
font-size: 20px;
}

.span p {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */


color: #B6CDD5;

}
.page-1-right {
  position: absolute;
  right: 20px;
  top: 136px;
  width: 599px;
  height: 730px;
}
.bottom {
  
  position: absolute;
  top: 952px;
  left: 30px;
  width: 1170px;
  height: 323px;
  background-color:  white;
  border-radius: 20px;
  box-shadow: 7px 7px 5px grey;
}
.bottom h2 {
  position: absolute;
width: 123px;
height: 23px;
left: 553px;
top: 64px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* identical to box height, or 93% */
color: #265A6A;

}
.bottom-lists {
  position: absolute;
  width: 139px;
  height: 19px;
  top: 166px;
  left: 66px;
  display: flex;
  gap: 189px;
}
.bottom-lists li{
  list-style-type: none;
}
.bottom-lists p {
  display: flex;
  
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* or 124% */
width: 147px;
height: 19px;

color: #08546C;

}
.services {
  position: relative;
  width: 100%;
}
.services h2 {
  position: absolute;
  font-family: 'Schoolbell';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 22px;
color: #265A6A;
top: 361px;
left: 579px;
width: 76px;
height: 23px;
}
.services h1 {
  position: absolute;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
/* or 133% */
top: 414px;
left: 352px;
color: #08546C;
width: 510px;
height: 120px;
}
.services-lists {
  display: flex;
  position: absolute;
  top: 604px;
  left: 30px;
  gap: 34px;
  
}
.services-extra {
  position: relative;
  width: 273px;
  height: 251px;
  background-color: white;
}
.services-extra img {
 position: absolute;
 top: 42px;
 left: 30px;
}
.services-extra h2 {
  position: absolute;
  top: 105px;
  left: 30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
width: 208px;
height: 29px;

color: #0F1221;

}
.services-extra p {
  position: absolute;
  top: 144px;
  left: 30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */

width: 215px;
height: 73px;
color: #696969;
}
.services-basic {
  position: relative;
  width: 273px;
  height: 251px;
  background-color: #08546C;
}
.services-basic img {
  position: absolute;
 top: 42px;
 left: 30px;
}
.services-basic h2 {
  position: absolute;
  top: 105px;
  left: 30px;
  
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
width: 213px;
height: 29px;

color: #FFFFFF;


}
.services-basic p {
  position: absolute;
  top: 144px;
  left: 30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */
width: 215px;
height: 73px;

color: #B2BBBD;
}

.portfolio h1 {
  position: absolute;
  top: 1055px;
  left: 372.5px;
  width: 469px;
  height: 57px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 56px;
/* identical to box height, or 125% */


color: #08546C;

}
.portfolio p {
  position: absolute;
  width: 469px;
  height: 58px;
  top: 1122px;
  left: 322.5px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* or 160% */


color: #757575;
}
.portfolio-left {
  position: absolute;
  top: 1240px;
}
.portfolio-left img {
  position: absolute;
  width: 585px;
  height: 385px;
  
  top: 30px;
}
.portfolio-left h2 {
  position: absolute;
  top: 426px;
  left: 30px;
  width: 227px;
  height: 29px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 29px;
/* identical to box height, or 96% */


color: #08546C;

}
.portfolio-left p {
  position: absolute;
  top: 465px;
  left: 30px;
  width:426px ;
  height: 77px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */


color: #757575;

}
.portfolio-left li {
  position: absolute;
  top: 562px;
  left: 30px;
  width: 148px;
  height: 26px;
 list-style-type: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 142% */


color: #08546C;

}
.portfolio-left ul img {
  position: absolute;
   top: 382px;
  left: 188px;
  width: 16px;
}
.portfolio-left-bottom {
  position: relative;
  top: 653px;
}
.portfolio-left-bottom img{
  width: 515px;
  height: 385px;
}
.portfolio-left-bottom h2 {
position: absolute;
top: 425px;
width: 168px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 29px;
/* identical to box height, or 96% */


color: #08546C;

}
.portfolio-left-bottom p {
  position: absolute;
  top: 465px;
  width: 411px;
  height: 77px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */


color: #757575;
}
.portfolio-left-bottom li {
  position: absolute;
  top: 561px;
  width: 148px;
  height: 26px;
 list-style-type: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 142% */


color: #08546C;
}
.portfolio-right {
  position: absolute;
  top: 1270px;
}
.portfolio-right-top img {
  position: absolute;
  width: 515px;
  height: 386px;
  left: 685px;
}
.portfolio-right-top h2 {
  position: absolute;
  top: 400px;
  left: 685px;
  width: 223px;
  height: 29px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 29px;
/* identical to box height, or 96% */


color: #08546C;
}
.portfolio-right-top p {
  position: absolute;
  top: 440px;
  left: 685px;
  width: 426px;
  height: 77px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */


color: #757575;
}
.portfolio-right-top li {
  position: absolute;
  top: 535px;
  left: 685px;
  width: 148px;
  height: 26px;
 list-style-type: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 142% */


color: #FFA800;

}
.portfolio-right-top ul img {
  position: absolute;
   top: 355px;
  left: 828px;
  width: 16px;
}.portfolio-right-bottom img {
  position: absolute;
  top:658px ;
  left: 685px;
  width: 515px;
  height: 385px;
}
.portfolio-right-bottom h2 {
  position: absolute;
  top: 1063px;
  left: 685px;
  width: 268px;
  height: 29px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 29px;
/* identical to box height, or 96% */


color: #08546C;

}
.portfolio-right-bottom p {
  position: absolute;
  top: 1100px;
  left: 685px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */
width: 449px;
height: 77px;

color: #757575;

}
.portfolio-right-bottom li {
  position: absolute;
  top: 1200px;
  left: 685px;
  width: 148px;
  height: 26px;
 list-style-type: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 142% */


color: #08546C;
}
.blog {
  position: absolute;
  top: 3800px;
  display: flex;
  width: 1214px;
  height: 730px;
  background-color: #053F51;
}
.blog-left img {
  position: absolute;
  top: 102px;
  left: 30px;
  width: 664px;
  height: 526px;
}
.blog-right img {
  position: absolute;
  top: 226px;
  left: 726px;
  width: 50px;
  height: 30px;
}
.blog-p1 {
  position: absolute;
  top: 289px;
  left: 710px;
  width: 500px;
  height: 151px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 160% */


color: #FFFFFF;
}
.blog-p2 {
  position: absolute;
  top: 473px;
  left: 710px;
  width: 285px;
  height: 26px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */


color: #AABFC6;
}
.footer {
  display: flex;
  position: absolute;
  top:4530px ;
  width: 1214px;
}
.logo {
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 100px;
  
}
.logo-img1 {
  position: absolute;
  width: 70px;
  height: 60px;
  left: 30px;


}
.logo p {
  position: absolute;
  top: 140px;
  left: 30px;
  width: 344px;
  height: 84px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */



color: #757575;
}
.logo-img2 {
  display: flex;
  position: absolute;
  top: 296px;
  left: 30px;
  width: 100px;
  height: 30px;
}
.pages  {
display: flex;
flex-direction: column;
}
.pages h2 {
  position: absolute;
  top: 105px;
  left: 538px;
  width: 71px;
  height: 28px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */


color: #08546C;

}
.pages img {
  position: absolute;
  top: 161px;
  left: 520px;
  width: 170px;
  height: 250px;
 

}
.footer-service h2 {
  position: absolute;
  top: 105px;
  left:720px;
  width: 100px;
  height: 28px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */


color: #08546C;
}
.footer-service img {
  position: absolute;
  top: 161px;
  left: 720px;
  width: 170px;
  height: 250px;
}
.contact h2 {
  position: absolute;
  top: 105px;
  left: 910px;
  width: 92px;
  height: 28px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */


color: #08546C;
}
.contact img {
  position: absolute;
  top: 161px;
  left: 910px;
  width: 150px;
  height: 200px;
}